<div class="container">
    <div class="left">
        <img class="photgrapher" src="../../assets/images/image9.jpg" alt="Aman Photography">
        <p>Aman Photography specializes in documenting weddings and crafting meaningful images that balance the curated with the raw - the composed with the real.</p>
    </div>
    <div class="right">
        <p class="upper-text">Inspired by fashion and challenging the status quo, Aman Photography travels to some of the most beautiful locations to tell the authentic story of a couple’s wedding day.</p>
        <p class="lower-text">The memories are preserved in images that are elegant and timeless with an editorial flair. At Aman Photography, we are committed to excellence in our craft and serving a limited number of clients each year. To bring your vision to reality, we pride ourselves on providing an experience that keeps wedding planning organized and communication constant.</p>
    </div>
</div>
<div class="full_container">
    <h3 class="text_box">WE ARE PASSIONATE ABOUT WHAT WE DO, AND ARE GRATEFUL <br>TO HAVE CAPTURED LOVE STORIES FOR OVER 10 YEARS.</h3>
    <img src="../../assets/images/image4.JPG" alt="" class="small_image1">
    <img src="../../assets/images/image7.jpg" alt="" class="small_image2">
    <img src="../../assets/images/image8.jpg" alt="" class="small_image3">
    <img src="../../assets/images/image5.jpg" alt="" class="small_image4">
</div>