<!-- chnager image div -->
<div class="background-div"></div>

<!-- div one -->
<div class="start-div">
    <div class="text-div">
        <h1>Quality Over Quantity</h1>
        <p>We are committed to excellence in our craft and serving a limited number of clients in order to spend
            valuable time on each booking to ensure you receive our best work. We also maintain quality and consistency
            in our work by having only one team of photographers. We meet with you several times before the wedding to
            learn about your relationship, the obstacles you have faced, and the moments you hold near and dear to your
            heart, so that we can capture the day in a way that you will always cherish. We invest our time in you, not
            only as clients, but also as friends, so that we become someone you know and trust. Over time, we believe we
            have perfected our process to best serve our couples.</p>
    </div>
    <div class="image-div">
        <img src="../../assets/images/image1.jpg" alt="Your Image" class="responsive-image">
    </div>
</div>

<!-- div two -->
<div class="start-div">
    <div class="image-div">
        <img src="../../assets/images/image3.JPG" alt="Your Image" class="responsive-image">
    </div>
    <div class="text-div">
        <h1> Here To Help</h1>
        <p>We understand that planning a wedding – big or small – can be overwhelming, especially if you’re trying to
            create a personalized experience. We’ve been photographing weddings for over a decade; therefore, our
            knowledgeable, experience, and network of talented vendors can help bring your vision to life!

            Being a male-female duo helps to give you both perspectives, as we share the to dos, not to dos, locations,
            how to get the most out of your day, create memories with your friends and family, plan a timeline, etc.
            We’ve also styled successful editorial shoots that have gone on to inspire couples all over the world! We
            literally become wedding planners in the process, helping you in any way that we can to ensure this is a
            stress-free experience.</p>
    </div>
</div>

<!-- div three -->
<div class="start-div">
    <div class="text-div">
        <h1>Personalized Experience</h1>
        <p>We’re all about couples doing things their way. We don’t want you to have any regrets when you look back on
            your wedding experience. We don’t want you to feel pressured by others and then years later wish you had
            done things differently.

            We’re in full support of all the things that would make your day feel like your own, and we’re here to help
            you every step of the way. We encourage you to create a completely personalized wedding experience. There is
            no right or wrong way to love, so why should there be restrictions on the way you choose to celebrate that
            love when it comes to a wedding.</p>
    </div>
    <div class="image-div">
        <img src="../../assets/images/image5.jpg" alt="Your Image" class="responsive-image">
    </div>
</div>

<!-- floating image  -->
<div class="full_container">
    <h3 class="text_box">MEMORIES PRESERVED IN IMAGES THAT <br> ARE ELEGANT AND TIMELESS WITH AN EDITORIAL FLAIR</h3>
    <img src="../../assets/images/image1.jpg" alt="" class="small_image1">
    <img src="../../assets/images/image7.jpg" alt="" class="small_image2">
    <img src="../../assets/images/image2.jpg" alt="" class="small_image3">
    <img src="../../assets/images/image5.jpg" alt="" class="small_image4">
</div>